<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd" id="WebApp_ID" version="4.0">
  <display-name>CourseMaterials</display-name>
  <welcome-file-list>
    <welcome-file>materialInsert.jsp</welcome-file>
  </welcome-file-list>
  
   <servlet>
  	<servlet-name>materialInsert</servlet-name>
  	<servlet-class>com.material.MaterialInsertServlet</servlet-class>
  </servlet>
  
  <servlet-mapping>
  		<servlet-name>materialInsert</servlet-name>
  		<url-pattern>/materialInsert</url-pattern>
  
  </servlet-mapping>
  
     <servlet>
  	<servlet-name>materialSearch</servlet-name>
  	<servlet-class>com.material.MaterialSearchServlet</servlet-class>
  </servlet>
  
  <servlet-mapping>
  		<servlet-name>materialSearch</servlet-name>
  		<url-pattern>/materialSearch</url-pattern>
  
  </servlet-mapping>
  
       <servlet>
  	<servlet-name>materialDelete</servlet-name>
  	<servlet-class>com.material.MaterialDeleteServlet</servlet-class>
  </servlet>
  
  <servlet-mapping>
  		<servlet-name>materialDelete</servlet-name>
  		<url-pattern>/materialDelete</url-pattern>
  
  </servlet-mapping>
  
   <servlet>
  	<servlet-name>materialViewAll</servlet-name>
  	<servlet-class>com.material.MaterialViewAllServlet</servlet-class>
  </servlet>
  
  <servlet-mapping>
  		<servlet-name>materialViewAll</servlet-name>
  		<url-pattern>/materialViewAll</url-pattern>
  
  </servlet-mapping>
  
     <servlet>
  	<servlet-name>materialUpdateHelper</servlet-name>
  	<servlet-class>com.material.MaterialUpdateHelperServlet</servlet-class>
  </servlet>
  
  <servlet-mapping>
  		<servlet-name>materialUpdateHelper</servlet-name>
  		<url-pattern>/materialUpdateHelper</url-pattern>
  
  </servlet-mapping>
  
      <servlet>
  	<servlet-name>materialUpdate</servlet-name>
  	<servlet-class>com.material.MaterialUpdateServlet</servlet-class>
  </servlet>
  
  <servlet-mapping>
  		<servlet-name>materialUpdate</servlet-name>
  		<url-pattern>/materialUpdate</url-pattern>
  
  </servlet-mapping>
  
   <servlet>
  	<servlet-name>materialViewLatest</servlet-name>
  	<servlet-class>com.material.MaterialViewLatestServlet</servlet-class>
  </servlet>
  
  <servlet-mapping>
  		<servlet-name>materialViewLatest</servlet-name>
  		<url-pattern>/materialViewLatest</url-pattern>
  
  </servlet-mapping>
  
     <servlet>
  	<servlet-name>materialSearchHome</servlet-name>
  	<servlet-class>com.material.MaterialSearchHomeServlet</servlet-class>
  </servlet>
  
  <servlet-mapping>
  		<servlet-name>materialSearchHome</servlet-name>
  		<url-pattern>/materialSearchHome</url-pattern>
  
  </servlet-mapping>
  
       <servlet>
  	<servlet-name>materialViewLatestStudent</servlet-name>
  	<servlet-class>com.material.MaterialViewLatestStudentServlet</servlet-class>
  </servlet>
  
  <servlet-mapping>
  		<servlet-name>materialViewLatestStudent</servlet-name>
  		<url-pattern>/materialViewLatestStudent</url-pattern>
  
  </servlet-mapping>
  
   <servlet>
  	<servlet-name>materialSearchHomeStudent</servlet-name>
  	<servlet-class>com.material.MaterialSearchHomeStudentServlet</servlet-class>
  </servlet>
  
  <servlet-mapping>
  		<servlet-name>materialSearchHomeStudent</servlet-name>
  		<url-pattern>/materialSearchHomeStudent</url-pattern>
  
  </servlet-mapping>
  
   <servlet>
  	<servlet-name>materialSearchStudent</servlet-name>
  	<servlet-class>com.material.MaterialSearchStudentServlet</servlet-class>
  </servlet>
  
  <servlet-mapping>
  		<servlet-name>materialSearchStudent</servlet-name>
  		<url-pattern>/materialSearchStudent</url-pattern>
  
  </servlet-mapping>
  
     <servlet>
  	<servlet-name>materialViewAllStudent</servlet-name>
  	<servlet-class>com.material.MaterialViewAllStudentServlet</servlet-class>
  </servlet>
  
  <servlet-mapping>
  		<servlet-name>materialViewAllStudent</servlet-name>
  		<url-pattern>/materialViewAllStudent</url-pattern>
  
  </servlet-mapping>
  
  
</web-app>